.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 10px;
  color: white;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

.a-conatiner{
  height: 90vh;
  width: 70%;
  border-radius: 4px;
  overflow-y:scroll;
  border: 2px solid white;
}

.a-conatiner::-webkit-scrollbar {
  width: 0.25rem;
}

.a-title{
  padding: 30px
}

.a-input{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.a-input-conatiner{
  outline: none;
  height: 40px;
  width: 500px;
  border: none;
  padding: 6px;
  background: rgb(209, 209, 209);
  border-bottom: 4px solid rgb(88, 88, 88);
}

.a-title{
  flex: 1;
  padding: 10px;
}

.a-list{
  display: flex;
  flex-direction: column;
  height: 30px;
  gap: 1rem;
  margin-top: 20px;
  width: auto;
  border-radius: 4px;
  margin-left: 50px;
}

.a-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  float: right;
}

.a-save,.a-edit{
  height: 55px;
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
}

.a-todo-list{
  display: flex;
  width: 750px;
  flex-direction: row;
  border: 2px solid white;
  padding: 10px;
  gap: 2rem;
  border-radius: 4px;
}